:root{
    --couleur1 : #e86711;
    --couleur2 : #1c88a8;
    --couleur3 : #b40edd;
}
html, body {
    margin:0;
}
* {
    box-sizing: border-box;
}
.global {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    
    background-color: rgba(255,255,255,0.5);
}

/*.entete {
    background-color: rgb(169, 209, 209);
    
}*/
@include regle_couleur('.entete', $couleur1);
@include regle_couleur_back('.entete', $couleur2);

.principal {
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.pied {
    background-color: rgb(53,15,5);
}